<div class="order-detail">
  <div class="row id">订单号：<span>{{data.id}}</span></div>
  <div class="row dishes">
    <div>餐品列表</div>
    <ul>
      <li *ngFor="let dish of data.dishes">
        {{dish}}
      </li>
    </ul>
  </div>
  <div class="row price">价格：<span>{{data.price}}</span></div>
  <div class="row actions">
    <button class="finish-preparation" (click)="finishPreparationHandler()" [disabled]="data.done || isOffline">备餐完成</button>
    <button class="get-ticket" (click)="getTicketHandler()" [disabled]="!data.done">获取取餐小票</button>
  </div>
</div>
